{{#> layouts/default}}
  {{#*inline "content-body"}}
    <div class="container header-wrapper">
      <div class="container-center">
        {{> partials/header.hbs}}
      </div>
    </div>

    <div class="container body-wrapper">
      <div class="container-center">
        <h1 class="body-wrapper-title body-wrapper-title-size">{{labels.body_text.title}}</h1>
        <p class="container-center-label">{{labels.body_text.label}}</p>
      </div>
    </div>
    <div class="container">
      <div class="container-center about-container">
        <div class="about-div-center about-wrapper">
          <p class="about-wrapper-title">
            <span>{{labels.about.about_us.label}}</span>
          </p>
          <div class="about-wrapper-text">
            <span>{{{labels.about.about_us.text}}}</span>
          </div>
        </div>
        <div class="what-we-do-wrapper about-wrapper">
          <p class="about-wrapper-title">
            <span>{{labels.about.what_we_do.label}}</span>
          </p>
          <div class="about-div-center about-wrapper-text">
            <span>{{{labels.about.what_we_do.text}}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="about-max-width">
        <div class="about-wrapper-left">
          <div class="about-left">
            <div class="about-left-header-bg">
              <div class="about-left-header">
                <div class="about-left-header-content">
                  <div class="about-left-header-title">
                    <span>
                      {{labels.about_left.vision.label}}
                    </span>
                  </div>
                  <div class="about-left-header-detail about-left-border">
                    <span>
                      {{labels.about_left.vision.title}}
                    </span>
                  </div>
                </div>
                <div class="about-left-header-content">
                  <div class="about-left-header-title">
                    <span>
                      {{labels.about_left.mission.label}}
                    </span>
                  </div>
                  <div class="about-left-header-detail ">
                    <span>
                      {{labels.about_left.mission.title}}
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="about-left-body">
               <span class="about-left-body-header-text">{{labels.about.what_you_get.header_text}}</span>
              {{#each labels.about.what_you_get.content_text}}
                <div class="about-left-body-box">
                  <p class="about-left-body-label">{{{this.label}}}</p>
                  <p class="about-left-body-title">{{this.title}}<p>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="about-wrapper-right">
          <div class="about-right">
            <img class="about-right-img" src="{{assets.body_img.src}}" alt="{{assets.body_img.alt}}">
          </div>
          <div class="about-right-content">
            <div class="about-left-body">
               <span class="about-left-body-header-text">{{labels.about.why_choose_us.header_text}}</span>
              {{#each labels.about.why_choose_us.content_text}}
                <div class="about-left-body-box">
                  <p class="about-left-body-label">{{{this.label}}}</p>
                  <p class="about-left-body-title">{{this.title}}<p>
                </div>
              {{/each}}
            </div>
          </div>
          <div class="contact-wrapper">
            <div class="contact-wrapper-box">
              <p class="contact-wrapper-items">{{urls.contact.label}}</p>
              <p class="contact-wrapper-items contact-wrapper-label">{{urls.contact.title}}</p>
              <a class="contact-wrapper-items contact-wrapper-button" href="{{urls.contact.url}}">{{urls.contact.button_label}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> partials/footer.hbs}}
  {{/inline}}
{{/ layouts/default}}
