<div class="container body-wrapper">
  <div class="container-center">
    <h1 class="body-wrapper-title body-wrapper-title-size">{{labels.body_text.title}}</h1>
    <p class="container-center-label">{{labels.body_text.label1}} <a href="" target="_blank" class="body-wrapper-title">{{labels.body_text.faq}} </a>{{labels.body_text.label2}} <a href="" target="_blank" class="body-wrapper-title">{{labels.body_text.knowledge_base}}</a></p>
  </div>
</div>
<script type="text/javascript" src="http://192.168.7.42/public/ghost-sdk.min.js"></script>
