<div class="knowledge-base-body-wrapper-label">
</div>
<div class="knowledge-base-body-wrapper-content">
  <div class="knowledge-base-body-wrapper-content-left">
    {{#each data.posts}}
      <a id="{{this.id}}">
        <h2 class="knowledge-base-body-wrapper-content-left-title">{{this.title}}</h2>
      </a>
        {{{this.html}}}

    {{/each}}
  </div>
  <div class="knowledge-base-body-wrapper-content-right">
    <ul class="knowledge-base-body-wrapper-content-right-ul">
      {{#each data.tags}}
        <li class="knowledge-base-body-wrapper-content-right-ul-li">
          <a href="#">{{this.name}}</a></li>
          <ul class="knowledge-base-body-wrapper-content-right-child-ul">
            {{#each this.postID}}
              <li class="knowledge-base-body-wrapper-content-right-child-ul-li">
                <a href="#{{this.id}}">{{{this.title}}}</a>
              </li>
            {{/each}}
          </ul>

      {{/each}}
    </ul>
  </div>
</div>
