<div class="container footer">
  <div class="container-center container-footer-center">
    <div class="footer-wraper">
      <div class="bottom-logo bottom-container">
        <a href="/home">
          <img class="bottom-logo-img" src="{{assets.footer_logo.src}}" alt="{{assets.footer_logo.alt}}">
        </a>
      </div>
      <div class="bottom-menu-wraper-box bottom-container">
        <div class="bottom-menu-box">
          <ul class="bottom-menu">
            {{#each urls.menu}}
              <li class="bottom-menu-item">
                <a class="bottom-menu-item-a" href="{{this.link}}">{{this.label}}</a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class="bottom-icon bottom-container">
        <div class="bottom-icon-box">
          {{#each urls.social}}
            <a href="{{this.link}}">
              <img class="bottom-icon-img" src="{{this.icon}}">
            </a>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container footer footer-license">
  <div class="container-center">
    <p class="footer-license-p">{{{labels.footer_text.copy}}}</p>
    <p class="footer-license-p">{{labels.footer_text.sale_contact}}</p>
  </div>
</div>
