<div class="container footer">
  <div class="container-center container-footer-center">
    <div class="footer-wraper">
      <div class="bottom-logo bottom-container">
        <img class="bottom-logo-img" src="{{assets.logo_white}}" alt="NTQ Solution">
      </div>
      <div class="bottom-menu-wraper-box bottom-container">
        <div class="bottom-menu-box">
          <ul class="bottom-menu">
            <li class="bottom-menu-item">
              <a class="bottom-menu-item-a" href="#">FEATURES</a>
            </li>
            <li class="bottom-menu-item">
              <a class="bottom-menu-item-a" href="#">PRICING</a>
            </li>
            <li class="bottom-menu-item">
              <a class="bottom-menu-item-a" href="#">ABOUT</a>
            </li>
            <li class="bottom-menu-item">
              <a class="bottom-menu-item-a" href="#">CONTACT</a>
            </li>
            <li class="bottom-menu-item">
              <a class="bottom-menu-item-a" href="#">KNOWLEDGE BASE</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="bottom-icon bottom-container">
        <div class="bottom-icon-box">
          <a href="#">
            <img class="bottom-icon-img" src="{{assets.footer_icon.facebook}}">
          </a>
          <a href="#">
            <img class="bottom-icon-img" src="{{assets.footer_icon.twitter}}">
          </a>
          <a href="#">
            <img class="bottom-icon-img" src="{{assets.footer_icon.skype}}">
          </a>
          <a href="#">
            <img class="bottom-icon-img" src="{{assets.footer_icon.youtube}}">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-license">
  <p class="footer-license-p">copyright &copy; 2018</p>
  <p class="footer-license-p">sale contact: (+84) 241 625 2145</p>
</div>
