{{#> layouts/default}}
  {{#*inline "content-body"}}
    <div class="container header-wrapper">
      <div class="container-center">
        {{> partials/header.hbs}}
      </div>
    </div>

    <div class="container body-wrapper">
      <div class="container-center">
        <h1 class="body-wrapper-title body-wrapper-title-size">{{labels.body_text.title}}</h1>
        <p class="container-center-label">{{labels.body_text.label}}</p>
      </div>
    </div>

    <div class="container">
      <div class="feature container-center">
      {{#each urls.feature}}
        <div class="feature-info">
          <div class="feature-box-img-wrapper">
            <img class="feature-box-img" src={{this.img}} alt="{{this.alt}}">
          </div>
          <div class="feature-info-box">
            <p class="feature-info-box-label">{{this.label}}</p>
            <p class="feature-info-box-title">{{this.detail}}</p>
          </div>
        </div>
      {{/each}}
    </div>

    <div class="container-feature container">
      <div class="advanced-feature container-center">
        <p class="advanced-feature-wrapper">
            <span class="advanced-feature-title">{{labels.advanced_features.title}}</span> <br/><br/>
            <span>{{labels.advanced_features.detail}}</span> <br/><br/>
            <span>{{{labels.advanced_features.content}}}</span>
        </p>
        {{#each labels.advanced_features.features}}
          <div class="advanced-feature-box">
            <div class="advanced-feature-box-label">
              <div class="advanced-feature-box-label-item">
                <span class="advanced-feature-box-label-item-text">{{this.label}}</span>
              </div>
            </div>
            <div class="advanced-feature-box-list-item">
              {{#each this.item}}
                <div class="advanced-feature-box-item">
                  <div class="advanced-feature-box-icon"></div><span class="advanced-feature-box-item-text">{{{this}}}</span>
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="container">
      <div class="knowledge-wrapper container-center">
        <p class="knowledge-wrapper-text">
          <span>{{labels.learn_more.label}}&nbsp;</span>
          <a href="#" class="knowledge-wrapper-link">{{labels.learn_more.link_label}}</a>
        </p>
      </div>
    </div>

    {{> partials/subscribe.hbs}}

    {{> partials/collaborator.hbs}}

    {{> partials/footer.hbs}}
  {{/inline}}
{{/ layouts/default}}
