{{#> layouts/default}}
  {{#*inline "content-body"}}
    <div class="container header-wraper">
      <div class="container-center">
        {{> partials/header.hbs}}
      </div>
    </div>

    <div class="container body-wraper">
      <div class="container-center">
        <h1 class="body-wraper-title body-wraper-title-size">{{labels.body_text.title}}</h1>
        <p class="container-center-label">{{labels.body_text.label}}</p>
      </div>
    </div>

    <div class="container">
      <div class="feature container-center">
        {{#each labels.feature}}
          <div class="feature-info">
            <div class="feature-box-img-wraper">
              <img class="feature-box-img" src={{this.img}} alt="optimized">
            </div>
            <div class="feature-info-box">
              <p class="feature-info-box-title">{{this.label}}</p>
              <p class="feature-info-box-label">{{this.detail}}</p>
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    <div class="container-feature container">
      <div class="advanced-feature container-center">
        <p class="advanced-feature-title">
         {{!--  <p> --}}
            <span class="advanced-feature-wraper">{{labels.advanced_features.title}}</span> <br/><br/>
            <span>{{labels.advanced_features.detail}}</span> <br/><br/>
            <span>{{{labels.advanced_features.content}}}</span>
          {{!-- </p> --}}
        </p>
        {{#each labels.advanced_features.features}}
          <div class="advanced-feature-box">
            <div class="advanced-feature-box-label">
              <div class="advanced-feature-box-label-item">
                <span>{{this.label_left}}</span>
              </div>
              <div class="advanced-feature-box-label-item">
                <span>{{this.label_right}}</span>
              </div>
            </div>
            <div class="advanced-feature-box-list-item">
              {{#each this.item}}
                <div class="advanced-feature-box-item">
                  <div class="advanced-feature-box-icon"></div><span class="advanced-feature-box-item-text">{{this}}</span>
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>

    {{> partials/subscribe.hbs}}

    {{> partials/collaborator.hbs}}

    {{> partials/footer.hbs}}
  {{/inline}}
{{/ layouts/default}}
